/****************************************************************************
 * Business Name: Queer Continuum Conference
 * Site Name: QueerCon
 * Created:   August 2015
 * Author:    Joni Weiss, joniwebgirl.com
 ***************************************************************************/
/************************************************
 GENERAL
 ************************************************/

* {
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;

}


Fonts {
    Primary: 'Merriweather Sans', sans-serif;
}

Colors {
    GC-Blue: #1d1a8b;
    GC-Magenta: #8b1a89;
    GC-Purple: #551a8b;
}


body {
/********************************************
    Background pattern for all pages.
*********************************************/
    background:
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
    linear-gradient(45deg, #8b1a89 0%, #551a8b 20%, #551a8b 40%, #551a8b 60%, #551a8b 80%, #1d1a8b 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #885ead;

    padding: 1em;
}

footer {
    margin-bottom: 5rem;
    padding-bottom: 5rem
}

img {
    max-width: 100%;
}

.img-responsive {
    width: 100%;
    height: auto;
    border-radius: 3px;
    border: solid 0.2rem #1d1a8b;
}

#header-img {
    border-radius: 5px;
}

#wrapper {
  background-color: #000;
  border-radius: 5px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0.5% 0.5%;
}

.site-content {
  background-color: #885ead;
  max-width: 100%;
  margin: 0 auto;
  /*padding: 0 1%;*/
}

body {
    margin: 0;
}

/**********************************
 CSS for countdown timer
***********************************/
.wrap {
    background: #885ead;
    margin: 0;
    width: 100%;
    line-height: normal;
}

.time-to {
    text-align: center;
    color: #eee;
    font-size: 1rem;
}

.time-to.wrap.row {
    max-width: 100%;
    border-bottom: solid #000 2px;
}

.time-to span {
    font-size: 1.25rem;
}

/**********************************
NAVIGATION
***********************************/

/*.menu {*/
    /*display: block;*/
    /*margin: 0.5rem auto;*/
    /*text-align: center;*/
/*}*/

/*a.small.round.button,*/
/*a.small.round.button.secondary {*/
    /*margin: 1rem auto;*/
/*}*/

/*div a.button {*/
    /*border: solid 0.2rem #9e0704;*/
    /*background: #2aabd2;*/
    /*/!*font-size: 0.75em;*!/*/
    /*font-weight: bold;*/
    /*color: #000;*/
    /*text-transform: capitalize;*/
    /*padding: 1.563em 1.563em;*/
    /*width: 100%;*/
    /*max-width: 20rem;*/
/*}*/

/*div a.button.secondary {*/
    /*border: solid 0.2rem #9e0704;*/
    /*background: #eee;*/
/*}*/

/*div .button:hover,*/
/*div .button:active {*/
    /*background: #2aabd2;*/
/*}*/

.open-close {
    background-color: #2aabd2;
    font-weight: bold;
    border-radius: 12px;
}

.social {
    display: block;
    margin: 0.5rem auto;
    padding: 0 1rem;
    text-align: center;
    font-weight: bold;
    width: 100%;
    max-width: 22rem;
}

.social a.button {
    border: solid 0.25rem #eee;
    background: #eee;
}

.social a.button:hover,
.social a.button:focus {
    border: solid 0.25rem #3B5998;
}

.specials {
    text-decoration: underline;
    font-weight: bold;
}

/* Have to set height explicitly on ui-view
to prevent collapsing during animation*/
.site-content[ui-view]{
 height: 65px;
}

.ui-view-container {
  position: relative;
}

.scrl,
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all 2s ease-in-out;
    -moz-transition:all 2s ease-in-out;
    -o-transition:all 2s ease-in-out;
    transition:all 2s ease-in-out;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 1%;
    bottom: 5%;
    background: #2aabd2 url("../img/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

a:hover.back-to-top {
    background-color: #247cbd;
}


/**********************************
 Table Styles - Divs
***********************************/
.table-row,
.table-row-hr {
    position: relative;
}

div .table-row-hr {
    background-color: #247cbd;
    color: #eee;
    margin-top: 2em;
    padding-top: 1em;
    min-width: 95%;
    border: solid 0.2rem #1d1a8b;
    color: #eee;
}

.table-row *,
.table-row-hr * {
    display: inline-block;
    vertical-align: middle;
}

.table-row .title,
.table-row-hr .title {
    min-width: 40%;
    min-width: calc(100% - 12em);
    font-size: 1em;
    font-weight: normal;
}

.table-row-hr .title {
    font-weight: 700;
}

div .title {
    padding: 0.5em 0.5em 0 0.5em;
}

div .note,
div .meta-data {
    padding: 0 0.5em 0.5em 0.5em;
}

.table-row .title, {
    display: block;
    clear: left;
}

.table-row .price,
.table-row .start,
.table-row .end,
.table-row .room,
.table-row-hr .price,
.table-row-hr .start,
.table-row-hr .end,
.table-row-hr .room {
    text-align: right;
    font-size: 1em;
}

.table-row {
  border-bottom: 1px solid #dbecf8;
}

.table-row-hr .meta-data {
  display: inline-block;
  position: relative;
}

.table-row .note,
.table-row-hr .note,
.table-row .meta-data > * {
    display: inline-block;
}

.price,
.table-row .meta-data > *,
.table-row-hr .meta-data > * {
  min-width: 4em;
  padding: 0 0.5rem;
  cursor: pointer;
}

.table-row-hr .note,
.table-row-hr .price,
.table-row-hr .start,
.table-row-hr .end,
.table-row-hr .room {
    color: #eee;
}

.table-row .note,
.table-row .price,
.table-row .start,
.table-row .end,
.table-row .room {
  color: #1d1a8b;
}

/**********************************
 Media Queries
***********************************/
/*Medium screens*/
@media only screen and (min-width: 40.063em) {
    #wrapper {
        max-width: 87%;
    }

    div.small-12.medium-6.large-2.columns {
        padding-left: 0.02rem;
        padding-right: 0.02rem;
    }

    a.back-to-top {
        right: 7.1%;
    }

    div .title {
        padding: 1em;
    }

    div .note,
    div .meta-data {
        padding: 0 1em 1em 1em;
    }

    .table-row .title {
        border-bottom: thin dotted #2aabd2;
    }

    .table-row .title,
    .table-row-hr .title {
        min-width: 65%;
        min-width: calc(100% - 22em);
        font-size: 1em;
        font-weight: normal;
        padding: 0 1rem;
    }

    div .table-row-hr {
        margin-top: 2em;
        padding-top: 1em;
        background-color: #247cbd;
        min-width: 45%;
        border-radius: 3px;
        border: solid 0.2rem #1d1a8b;
        color: #eee;
    }

    .table-row-hr .title {
        font-weight: 700;
    }

    .table-row .title {
      /*padding: 1rem;*/
      display: inline-block;
      clear: left;
    }

    div .note,
    .table-row .note,
    .table-row-hr .note {
        width: 100%;
    }

    .table-row .meta-data,
    .table-row-hr .meta-data {
      width: 35em;
    }

    .table-row .meta-data > *,
    .table-row-hr .meta-data > * {
        width: 10em;
        /*padding: 0 0.5rem;*/
        /*cursor: pointer;*/
        display: inline-block;
    }
}

/*Large screens*/
@media only screen and (min-width: 64.063em) {
    body {
        padding: 1.75em;
    }

    #wrapper {
        max-width: 90%;
    }

    div.small-12.medium-6.large-2.columns {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    a.back-to-top {
        right: 10%;
    }
}

/*XLarge screens*/
@media only screen and (min-width: 90.063em) {
    a.back-to-top {
        right: 12%;
    }
}
