<div ng-controller="DefaultCtrl">
    <div>
        <h2 class="text-center">About Us</h2>
    </div>
    <p>It's here!
    </p>

    <p>Utah's 1 to 5 Club is joining the ranks of Because and other B+ focused conferences. We are so proud to bring you, 10 years after the 1 to 5 Club was officially launched in 2005, our very first B+/Sexually Fluid Conference.
    </p>

    <p>Focusing on issues that range from People of Color in the community to how gender and sexual fluidity intersect to a really great sexually fluid 101 conversation, this conference is a chance to expand your knowledge of who we are and what we want as a community.
    </p>

    <p>We are honored to have Dr. Lisa Diamond of the University of Utah as our keynote speaker. Workshop presenters include leaders and community members.
    </p>

    <p>Invite your friends, your families.
    </p>

    <p>Our suggested donation is $5. And no one will be turned away due to inability to pay.
    </p>
</div>
