<div class="row"
     <div class="text-center site-content">
            <h2 class="text-center">Mission Statement</h2>
            <p>Queer Continuum is a safe space for exploring all aspects of sexuality and attraction. From bisexual to pansexual, aromantic to polyamorous, we embrace and deconstruct how race, class, gender, ability and other facets of our identities intersect and affect us. With a commitment to both diversity and inclusion, we challenge social norms and instigate meaningful conversations that strengthen our "queer"mmunity.</p>
     </div>
</div>
<hr>
<div class="row">
    <div class="medium-4 large-4 text-center columns">
        <img class="img-responsive" src="img/QueerUmbrellas.png">
        <h4>Workshops</h4>
        <p>Nine workshops covering the essentials for understanding sexual orientation for those of us whose identities are more nuanced than Lesbian, Gay, or Heterosexual</p>
    </div>
    <div class="medium-4 large-4 text-center columns">
        <img class="img-responsive" src="img/Lisa-Diamond.jpg">
        <h4>Keynote Speaker</h4>
        <p>Dr. Lisa Diamond, author of Sexual Fluidity, is a Professor of Psychology at @UUtah who studies same-sex sexuality, relationship development and health.</p>
    </div>
    <div class="medium-4 large-4 text-center column">
        <img class="img-responsive" src="img/campus-map.jpg">
        <h4>Location</h4>
        <a href="//www.google.com/maps/place/Rowland+Hall-St+Mark's+School/@40.751107,-111.8631118,17z/data=!4m6!1m3!3m2!1s0x8752f55a3398492f:0xb248c0846b4afe!2sRowland+Hall-St+Mark's+School!3m1!1s0x8752f55a3398492f:0xb248c0846b4afe"
           target="_blank"><span class="fa fa-map-marker"> </span>
            Rowland Hall-St Marks School<br>
            843 Lincoln St<br>
            Salt Lake City, UT 84102
        </a>
    </div>
</div>


<!--
<div class="row">
    <div class="large-12 columns">
        <h2>Secondary Header</h2>
    </div>
</div>
<div class="row">
    <div class="medium-4 large-4 columns">
        <h3>Title of Content</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illo debitis, enim qui nemo harum perspiciatis inventore, facere omnis neque ipsam.</p>
        <h3>Title of Content</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illo debitis, enim qui nemo harum perspiciatis inventore, facere omnis neque ipsam.</p>
        <h3>Title of Content</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illo debitis, enim qui nemo harum perspiciatis inventore, facere omnis neque ipsam.</p>
    </div>
    <div class="medium-4 large-4 columns">
        <h3>Title of Content</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illo debitis, enim qui nemo harum perspiciatis inventore, facere omnis neque ipsam.</p>
        <h3>Title of Content</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illo debitis, enim qui nemo harum perspiciatis inventore, facere omnis neque ipsam.</p>
        <h3>Title of Content</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illo debitis, enim qui nemo harum perspiciatis inventore, facere omnis neque ipsam.</p>
    </div>
    <div class="medium-4 large-4 columns text-center">
        <img src="img/QueerCon.png">
    </div>
</div>-->

<hr>
