<div class="row" id="scrollTop">
     <div class="text-center site-content">
            <h2 class="text-center jenna-text">Mission Statement</h2>
            <p>Queer Continuum is a safe space for exploring all aspects of sexuality and attraction. From bisexual to pansexual, aromantic to polyamorous, we embrace and deconstruct how race, class, gender, ability and other facets of our identities intersect and affect us. With a commitment to both diversity and inclusion, we challenge social norms and instigate meaningful conversations that strengthen our "queer"mmunity.</p>
     </div>
</div>
<hr>
<div class="row">
    <div class="medium-4 columns">
        <a ui-sref="workshops"><img class="img-responsive" src="img/QueerUmbrellas.png">
        <h4>Workshops</h4>
        <p>Workshops and their descriptions.</p>
        </a>
    </div>
    <div class="medium-4 columns">
        <a ui-sref="schedule"><img class="img-responsive" src="img/QueerSchedule.png">
        <h4>Conference Schedule</h4>
        <p>Here you will find a full schedule for the day of the conference.</p>
        </a>
    </div>
    <div class="medium-4 columns">
        <a ui-sref="keynote"><img class="img-responsive" src="img/ella-mendoza.png">
            <h4>Keynote Speaker</h4>
            <p>We are excited and honored to have Ella Mendoza as our Keynote speaker this year!</p>
            <p>Ella is an undocumented immigrant, and self declared illegal illustrator, born in the Quechua region of so-called-Peru and currently living in Salt Lake City, Utah. Her artwork and writing has been featured nationally in both academic and holistic settings, as a freelancer, as well as a representative of <a href="//familiatqlm.org/" target="_blank">Familia: Trans Queer Liberation Movement</a>, and <a href="//www.peacefuluprising.org/" target="_blank">Peaceful Uprising</a>.</p>
        </a>
    </div>
</div>
<hr>
