<div ng-controller="DefaultCtrl" class="site-content">
    <div>
        <h2 class="text-center jenna-text">Meet Our Keynote Speaker</h2>
    </div>
    <p><img class="bio-image" src="img/Mary-Stanley.png"></p><br>
    <p class="bio-text">Mary Stanley, ACMHC, ATR-BC, ATCS<br><br>
    Mary is a transplant to Salt Lake from Detroit and an art psychotherapist and the Clinical Director at The Healing Group (<a href="http://www.thehealinggroup.com">www.thehealinggroup.com</a> in Midvale. She sort of balances this with being a wife, mother, artist, foodie, and urban gardener. She has her BFA in fine arts and psychology from Albion College and her masters in art therapy and creativity development from Pratt Institute. She likes digging in the dirt, a good film, Morrissey, and her coffee with cream.<br><br>

    She began her ally activism while in college and after binge watching the Angels in America plays on Broadway. Her honors thesis in undergraduate explored her place of privilege and her response to the AIDS crisis by doing unauthorized public works as a way of connecting with others in privilege and conveying the urgency of the matter (As an interesting side note, she was nearly expelled in her senior year for
        this project!).<br><br>

    Her natural tendency to cringe at the color blue and line dancing has led her to question religious and social paradigms and rethink how we attach as human beings from an holistic and full place.<br><br>

    She presents on the attachment relationship between parents and children and its application to the society at large. When she grows up, she’d like to have a farm and live seasonally and off the grid a la Laura Ingalls Wilder.<br><br>
</div>
