<div ng-controller="DefaultCtrl">
    <div>
        <h2 class="text-center">Location and Map</h2>
    </div>
    <div>
        <a href="https://goo.gl/maps/VYGQ9" target="_blank">
            <h4 class="text-center">Location</h4>
            <p class="text-center"><span class="fa fa-map-marker"> </span>
            Rowland Hall-St Marks School<br>
            843 Lincoln St<br>
            Salt Lake City, UT 84102</p>
            <img class="img-responsive" src="img/map-400x500.png">
        </a>
    </div>

</div>
