<div ng-controller="DefaultCtrl">
    <div>
        <h2 class="text-center jenna-text">Our Sponsors</h2>
    </div>
    <div class="site-content">
        <p>
            We couldn't have done this without the generous support and contributions of community members like you and the following businesses & organizations:
        </p>
        <ul>
            <li>
                Utah Pride Center
            </li>
            <li>
                Rowland Hall-St Marks School
            </li>
            <li>
                Jitterbug Coffee Hop
            </li>
            <li>
                Jitterbug Coffee Hop
            </li>
            <li>
                1to5 Club
            </li>
            <li>
                Planned Parenthood of Utah
            </li>
            <li>
                Utah Polyamory Society
            </li>
            <li>
                Heather Franck, Phtotgraphy & Graphic Design
            </li>
            <li>
                Joni Weiss, Web Design
            </li>
        </ul>

    </div>
</div>
